@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.6rem;
  font-weight: 400;
}

h2 {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 700;
}

h3 {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.2rem 0;
}

h4 {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2.5rem 0 0.3rem 0;
}

p {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.2rem 0;
}

b {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 700;
}

button {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

.btn--gradient {
  padding: 1rem 2rem;
  margin: 2rem;
  border-style: none;
  border-radius: 2rem;
  color: #fff;
  background: linear-gradient(164deg, #FF79DA 0%, #9356DC 100%);
  box-shadow: -2px 5px 16px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.btn--gradient:hover {
  background: linear-gradient(164deg, #ff93e1 0%, #a16be0 100%);
}

.underline {
  height: 4px;
  width: 50px;
  background-color: #99E2D0;
}

.heartsChanger {
  position: absolute;
  z-index: 2;
  right: 12%;
  top: 35%;
  cursor: pointer;
}
.heartsChanger--heart {
  position: absolute;
  font-size: 1.6rem;
  transition: all 500ms ease;
}
.heartsChanger--heart.empty {
  opacity: 1;
}
.heartsChanger--heart.full {
  transform: scale(0);
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-stroke-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.heartsChanger:hover .heartsChanger--heart.empty {
  opacity: 0;
}
.heartsChanger:hover .heartsChanger--heart.full {
  transform: scale(1);
}

.entete {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.entete__arrow {
  position: absolute;
  font-size: 1.1rem;
  left: 2rem;
  color: #353535;
}

.step {
  position: relative;
  margin: 1rem;
}
@media screen and (min-width: 599px) {
  .step {
    width: 30%;
  }
}
.step__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  background-color: #F6F6F6;
  border-radius: 1.2rem;
  box-shadow: -2px 5px 16px -5px rgba(0, 0, 0, 0.25);
}
.step__content i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  color: #7E7E7E;
  width: 4rem;
  height: 3.5rem;
}
.step__content--txt {
  font-weight: 700;
}
.step__content:hover::after {
  opacity: 1;
}
.step__content:hover i {
  color: #9356DC;
}
.step__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.2rem;
  background-color: #e4d5f6;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.step__nb {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #fff;
  border-radius: 2rem;
  width: 1.8rem;
  height: 1.8rem;
  top: 25%;
  left: -0.8rem;
  font-size: 1rem;
}

.card {
  position: relative;
  margin: 0.6rem 0;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: -2px 5px 16px -5px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 599px) {
  .card {
    min-width: 32%;
  }
}
.card img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0px 0px;
}
.card__new {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  padding: 0.5rem 0.8rem;
  background-color: #99E2D0;
  border-radius: 0.2rem;
  font-weight: 700;
  color: #2c9c81;
}
.card__content {
  position: relative;
  padding: 1rem;
}
.card__content--price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pied {
  background-color: #353535;
  padding: 3%;
}
.pied--logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 1.1rem;
  margin: 0 0 1.5rem 0;
}
.pied--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 1rem;
}
.pied--text i {
  width: 2rem;
}
.pied--text p {
  margin: 0.3rem 0;
}

.localisation {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 1rem;
}
.localisation i {
  font-size: 1.1rem;
  margin-right: 15px;
}
.localisation p {
  font-weight: 700;
}

.discover {
  background-color: #F6F6F6;
  padding: 1.6rem;
  text-align: center;
}
.discover h1 {
  font-family: "Roboto";
  font-weight: 700;
}

.fonctionnement {
  padding: 2rem 3%;
}

.steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 599px) {
  .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#restaurants {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 2rem 3%;
}
#restaurants__list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 599px) {
  #restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.illustration {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem 3%;
  border-radius: 3rem 3rem 0 0;
  background-color: #F6F6F6;
  margin-top: -50px;
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}
.menu__title i {
  font-size: 1.6rem;
  margin-right: 1.5rem;
}

.plats {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 599px) {
  .plats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.commander {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
