@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
    @content;
    }
}