// Stockage des variables

$max-body: 100%;
$padding-small: 1.3rem 0rem;
$padding-high: 1.6rem 0rem;

$shadow-header: 0px 3px 5px -1px rgba(0,0,0,0.3);
$shadow-regular: -2px 5px 16px -5px rgba(0,0,0,0.25);

$radius: 2rem;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tiertiary: #99E2D0;

$color-gradient: linear-gradient(164deg, $color-secondary 0%, $color-primary 100%);

$color-white: #fff;
$color-grey1: #EAEAEA;
$color-grey2: #F6F6F6;
$color-grey3: #7E7E7E;
$color-grey4: #353535;

$font-regular: 400;
$font-bold: 700;