// Css de la partie Localisation de la page d'accueil

.localisation{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    background-color: $color-grey1;
    padding: 1rem;
    i{
        font-size: 1.2rem;
        margin-right: 15px;
    }
    p{
        font-weight: $font-bold;
    }
}

// Css de la partie Découverte de l'outil

.discover{
    display: flex;
    flex-direction: column;
    background-color: $color-grey2;
    padding: 1.6rem;
    text-align: center;
    h1{
        font-family: 'Roboto';
    }
}

// Css de la partie Fonctionnement de la page d'accueil

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

// Css de la liste des restaurants

.restaurants{
    display: flex;
    flex-direction: column;
    background-color: $color-grey2;
    padding: 2rem 1rem;
}