// Css de la partie Localisation de la page d'accueil

.localisation{
    @include flex-row;
    align-items: baseline;
    justify-content: center;
    background-color: $color-grey1;
    padding: 1rem;
    i{
        font-size: map-get($size, regular);
        margin-right: 15px;
    }
    p{
        font-weight: $font-bold;
    }
}

// Css de la partie Découverte de l'outil

.discover{
    @include flex-column;
    background-color: $color-grey2;
    padding: 1.6rem;
    text-align: center;
    h1{
        font-family: 'Roboto';
        font-weight: $font-bold;
    }
}

// Css de la partie Fonctionnement de la page d'accueil

.fonctionnement{
    padding: 2rem 3%;
}

.steps{
    @include flex-column;
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @include flex-row;
        justify-content: space-between;
    }
}

// Css de la liste des restaurants

.restaurants{
    @include flex-column;
    background-color: $color-grey2;
    padding: 2rem 3%;
    &__list{
        @media screen and (min-width: map-get($breakpoints, desktop)){
            @include flex-row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}