// Css de la partie Menu du site

.illustration{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu{
    @include flex-column;
    position: relative;
    padding: 2rem 3%;
    border-radius: 3rem 3rem 0 0;
    background-color: $color-grey2;
    margin-top: -50px;
    &__title{
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        font-weight: $font-regular;
    }
}

.plats{
    position: relative;
    @include flex-column;
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @include flex-row;
        justify-content: space-between;
    }
}

.commander{
    background-color: $color-grey2;
    text-align: center;
    padding-bottom: 2rem;
}

