// Css de la partie Menu du site

.illustration{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem 1rem;
    border-radius: 3rem 3rem 0 0;
    background-color: $color-grey2;
    margin-top: -50px;
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: $font-regular;
        i{
            font-size: 1.8rem;
        }
    }
}