// Css des boutons du site

.btn--gradient{
    margin: 2rem 4rem;
    padding: 1rem;
    border-style: none;
    border-radius: $radius;
    color: $color-white;
    background: $color-gradient;
    box-shadow: $shadow-regular;
    text-align: center;
}