// Css des boutons du site

.btn--gradient{
    padding: 1rem 2rem;
    margin: 2rem;
    border-style: none;
    border-radius: $radius;
    color: $color-white;
    background: $color-gradient;
    box-shadow: $shadow-regular;
    cursor: pointer;
    transition: all 500ms ease;
    &:hover{
        opacity: 0.80;
        //background: $color-gradient-lighten;
        box-shadow: $shadow-regular-hover;
    }
}