// Css de base

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}


h1{
    font-family: 'Shrikhand';
    font-size: map-get($size, big);
    font-weight: $font-regular;
}

h2{
    font-family: 'Roboto';
    font-size: map-get($size, big);
    font-weight: $font-bold;
}

h3{
    font-family: 'Roboto';
    font-size: map-get($size, regular);
    font-weight: $font-bold;
    margin: 0.2rem 0;
}

h4{
    font-family: 'Roboto';
    font-size: map-get($size, regular);
    font-weight: $font-regular;
    text-transform: uppercase;
    margin: 2.5rem 0 0.3rem 0;
}

p{
    font-family: 'Roboto';
    font-size: map-get($size, regular);
    font-weight: $font-regular;
    margin: 0.2rem 0;
}

b{
    font-family: 'Roboto';
    font-size: map-get($size, regular);
    font-weight: $font-bold;
}

button{
    font-family: 'Roboto';
    font-size: map-get($size, small);
    font-weight: $font-regular;
}

a{
    text-decoration: none;
    color: black;
}