@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: $max-body;
}

h1{
    font-family: 'Shrikhand';
    font-size: 1.6rem;
}

p{
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: 400;
}