// Css de base

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: $max-body;
}


h1{
    font-family: 'Shrikhand';
    font-size: 1.6rem;
}

h2{
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: $font-bold;
}

h3{
    font-family: 'Roboto';
    font-size: 1.3rem;
    font-weight: $font-bold;
    margin: 0;
}

h4{
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: $font-regular;
    text-transform: uppercase;
    margin: 2.5rem 0 0.3rem 0;
}

p{
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: $font-regular;
    margin: 0.5rem 0;
}

b{
    font-family: 'Roboto';
    font-size: 1.1rem;
    font-weight: $font-regular;
}

button{
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
}