.card__resto{
    position: relative;
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    box-shadow: $shadow-regular;
    &--new{
        position: absolute;
        right: 1rem;
        padding: 0.5rem 0.8rem;
        background-color: $color-tiertiary;
        border-radius: 0.2rem;
        font-weight: 600;
        font-size: 0.9rem;
        color: darken($color: $color-tiertiary, $amount: 35);
    }
    img{
        height: 160px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    &--body1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 1.5rem 0rem 1rem;
        h3{
            margin: 1rem 0rem 0.5rem 0rem;
        }
        i{
            font-size: 1.5rem;
        }
    }
    &--body2{
        margin: 0rem 1.5rem 0rem 1rem;
    
    }
}

.card__menu{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: $shadow-regular;
    &--content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0.2rem 0;
        p{
            margin: 0;
            margin-top: 0.2;
        }
    }
}