.cardMenu{
    position: relative;
    margin: 0.6rem 0;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: $shadow-regular;
    @media screen and (min-width: map-get($breakpoints, desktop)){
        min-width: 32%;
    }
    &__content{
        position: relative;
        padding: 1rem;
        &--price{
            @include flex-row;
            justify-content: space-between;
            align-items: center;
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            b{
                margin-left: 1rem;
            }
        }
    }
}