// Css de la partie Découverte de l'outil

.discover{
    display: flex;
    flex-direction: column;
    background-color: $color-grey2;
    padding: $padding-high;
    h1{
        font-family: 'Roboto';
        text-align: center;
        margin: 0.3rem 3rem;
    }
    p{
        text-align: center;
        margin: 0.5rem 1.5rem;
    }
}