// Css de la partie Fonctionnement de la page d'accueil

.fonctionnement{
    display: flex;
    flex-direction: column;
    padding: $padding-high;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    &__cards{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        width: 95%;
        margin: auto;
        &--card{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.8rem;
            background-color: $color-grey2;
            border-radius: 1.5rem;
            box-shadow: $shadow-regular;
            &:hover{
                background-color: lighten($color: $color-primary, $amount: 35);
            }
        }
        i{
            font-size: 1.6rem;
            color: $color-grey3;
            margin: 0rem 1rem;
        }
        &--txt{
            font-weight: 700;
        }
        &--nb{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
            color: $color-white;
            border-radius: 2rem;
            width: 1.8rem;
            height: 1.8rem;
            left: -0.8rem;
            font-size: 1rem;
        }
    }
}