// Css du pied de page

.pied{
    background-color: $color-grey4;
    padding: 3%;
    &--logo{
        color: white;
        font-family: 'Shrikhand';
        font-size: map-get($size, regular);
        margin: 0 0 1.5rem 0;
    }
    &--text{
        @include flex-row;
        align-items: center;
        color: white;
        font-size: map-get($size, small);
        i{
            width: 2rem;
        }
        p{
            margin: 0.3rem 0;
        }
    }
}