// Css de l'en-tête

.entete{
    position: relative;
    @include flex-center;
    padding: 1rem;
    background-color: $color-white;
    box-shadow: $shadow-header;
    &__arrow{
        position: absolute;
        font-size: 1.3rem;
        left: 2rem;
        color: $color-grey4;
    }
}