// Css de la partie Menu du site

.illustration{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5rem 1rem ;
    border-radius: 3rem 3rem 0 0;
    background-color: $color-grey2;
    margin-top: -50px;
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        i{
            font-size: 1.5rem;
        }
    }
    &--underline{
        height: 4px;
        width: 50px;
        background-color: $color-tiertiary;
    }
}

.plats{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    &__card{
        background-color: white;
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        box-shadow: $shadow-regular;
        &--title{
            font-weight: 800;
            font-size: 1.3rem;
            margin: 0.4rem 0;
        }
        &--content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0.2rem 0;
            p{
                margin: 0;
                margin-top: 0.2;
            }
            &--price{
                font-weight: 600;
            }
        }
    }
}