// Css de la liste des restaurants

.restaurants{
    background-color: $color-grey2;
    padding: $padding-high;
    h2{
        width: 90%;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.3rem;
    }
    &__cards{
        margin-bottom: 2rem;
    }
}