.step{
    position: relative;
    margin: 1rem;
    @media screen and (min-width: map-get($breakpoints, desktop)){
        width: 30%;
    }
    &__content{
        position: relative;
        z-index: 1;
        @include flex-row;
        align-items: center;
        padding: 0.8rem;
        background-color: $color-grey2;
        border-radius: 1.2rem;
        box-shadow: $shadow-regular;
        i{
            @include flex-center;
            font-size: map-get($size, regular);
            color: $color-grey3;
            width: 4rem;
            height: 3.5rem;

        }
        &--txt{
            font-weight: $font-bold;
        }
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;  
            left: 0;
            border-radius: 1.2rem;
            background-color: lighten($color-primary, 30);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            i{
                color: $color-primary;
            }
        }
    }
    &__nb{
        position: absolute;
        z-index: 2;
        @include flex-center;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 2rem;
        width: 1.8rem;
        height: 1.8rem;
        top: 25%;
        left: -0.8rem;
        font-size: map-get($size, small);
    }
}