.step{
    position: relative;
    margin: 1rem;
    @media screen and (min-width: map-get($breakpoints, desktop)){
        width: 30%;
    }
    &__content{
        @include flex-row;
        align-items: center;
        padding: 0.8rem;
        background-color: $color-grey2;
        border-radius: 1.2rem;
        box-shadow: $shadow-regular;
        i{
            @include flex-center;
            font-size: map-get($size, regular);
            color: $color-grey3;
            width: 4rem;
            height: 3.5rem;

        }
        &--txt{
            font-weight: $font-bold;
        }
    }
    &__nb{
        position: absolute;
        @include flex-center;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 2rem;
        width: 1.8rem;
        height: 1.8rem;
        top: 25%;
        left: -0.8rem;
        font-size: map-get($size, small);
    }
}